In [1]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.dates as mdates 
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import gc
import math
import keras

#%matplotlib notebook
%matplotlib inline

Using TensorFlow backend.

In [2]:
style.use ('ggplot')

data_file = '~/data/bitstampUSD_1-min_data_2012-01-01_to_2017-05-31.csv'

In [3]:
df = pd.read_csv(data_file, parse_dates=True, keep_date_col=True, index_col=0, infer_datetime_format=True, error_bad_lines=False)
df.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.dropna()
df = df.drop(['Volume_(Currency)', 'Weighted_Price'], axis=1)

print(len(df))
df.head()

1650904

            Open  High   Low  Close  Volume_(BTC)
Timestamp
1325317920  4.39  4.39  4.39   4.39      0.455581
1325346600  4.39  4.39  4.39   4.39     48.000000
1325350740  4.50  4.57  4.50   4.57     37.862297
1325350800  4.58  4.58  4.58   4.58      9.000000
1325391360  4.58  4.58  4.58   4.58      1.502000

In [5]:
df['1H ma'] = df['Close'].rolling(window=60, min_periods=0).mean()
df['1D ma'] = df['Close'].rolling(window=1440, min_periods=0).mean()
df['1W ma'] = df['Close'].rolling(window=10080, min_periods=0).mean()
df['1M ma'] = df['Close'].rolling(window=43200, min_periods=0).mean()

df['Change %'] = ((df['Close'] - df['Open']) / df['Open']) * 100

df.index = pd.to_datetime(df.index, utc=True, unit='s')

In [6]:
df.tail()

,Open,High,Low,Close,Volume_(BTC),1H ma,1D ma,1W ma,1M ma,Change %
Timestamp,,,,,,,,,,
2017-05-30 23:56:00+00:00,2190.49,2190.49,2181.37,2181.37,1.700166,2189.616000,2273.979389,2300.843937,1845.505934,-0.416345
2017-05-30 23:57:00+00:00,2190.50,2197.52,2186.17,2195.63,6.561029,2189.877000,2273.914972,2300.840210,1845.525905,0.234193
2017-05-30 23:58:00+00:00,2195.62,2197.52,2191.52,2191.83,15.662847,2189.943000,2273.863965,2300.836447,1845.545788,-0.172616
2017-05-30 23:59:00+00:00,2195.82,2216.00,2195.82,2203.51,27.090309,2190.203667,2273.815243,2300.834036,1845.565941,0.350211
2017-05-31 00:00:00+00:00,2201.70,2209.81,2196.98,2208.33,9.961835,2190.509500,2273.768736,2300.832383,1845.586206,0.301131